<div class="post">
    <div class="header">
        <h1>Post Title</h1>

        <button [routerLink]="['/']" class="btn btn-link">
            Home Page
        </button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>12.09.2000</small>
    </div>

    <div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ab eius facere fugiat quae labore vel, vero illo voluptate enim cum architecto optio corrupti assumenda cumque fugit, aut provident voluptas!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ab eius facere fugiat quae labore vel, vero illo voluptate enim cum architecto optio corrupti assumenda cumque fugit, aut provident voluptas!</p>
        </div>
    </div>
</div>